{{define "content"}}
<div class="main-title">
  <h1>Öğrenci Listesi</h1>
</div>

<div class="container">
    <a href="/ogrenci-listele-pdf" class="btn btn-info"><span class="oi oi-file"></span> PDF</a>
    <a href="/ogrenci-listele-xls" class="btn btn-info"><span class="oi oi-document"></span> XLSX</a>

    <br>
    <br>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Ad</th>
          <th scope="col">Soyad</th>
          <th scope="col">Öğretim</th>
        </tr>
      </thead>
      <tbody>
        {{range .Vars.Ogrenciler}}
        <tr>
          <th scope="row">{{.No}}</th>
          <td>{{.Ad}}</td>
          <td>{{.Soyad}}</td>
          <td>{{if eq .Ogretim 1}}I. Öğretim{{else}}II. Öğretim{{end}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
</div>
{{end}}
