{{define "content"}}
<div class="main-title">
  <h1>Öğrenci Ekle</h1>
</div>

{{if ne .Alert ""}}
  {{template "alert" .}}
{{end}}

<div class="container">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#normalstaj"
      role="button" aria-expanded="{{if not .Vars.DenkStaj}}true{{else}}false{{end}}" aria-controls="normalstaj">
      Staj
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#denkstaj"
      role="button" aria-expanded="{{if .Vars.DenkStaj}}true{{else}}false{{end}}" aria-controls="denkstaj">
      DGS/Yatay Geçiş Staj
    </a>
  </p>
  <div id="stajgroup">
    <div class="collapse{{if not .Vars.DenkStaj}} show{{end}}" id="normalstaj" data-parent="#stajgroup">
      <form method="POST" action="/staj-ekle">
        <input type="hidden" name="denk" value="0">

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="no">Öğrenci No</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="no" type="number">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="kurum">Kurum</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="kurum" type="text" list="kurumlist">
          </div>
        </div>
        <datalist id="kurumlist">
          {{range .Vars.Kurumlar}}
          <option value="{{.}}">
          {{end}}
        </datalist>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="sehir">Şehir</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="sehir" type="text">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="konu">Konu</label>
          </div>
          <div class="col-10">
            <select class="custom-select" name="konu">
              {{range .Vars.Konular}}
              {{if .Aktif}}
              <option value="{{.Baslik}}">{{.Baslik}}</option>
              {{end}}
              {{end}}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="baslangic">Başlangıç Günü</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="baslangic" type="date">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="bitis">Bitiş Günü</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="bitis" type="date">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="sinif">Sınıf</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="sinif" type="number" min="1" max="8">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="toplamgun">Toplam Gün</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="toplamgun" type="number" min="1">
          </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Ekle">
      </form>
    </div>
    <div class="collapse{{if .Vars.DenkStaj}} show{{end}}" id="denkstaj" data-parent="#stajgroup">
      <form method="POST" action="/staj-ekle">
        <input type="hidden" name="denk" value="1">

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="no">Öğrenci No</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="no" type="number">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="kurum">Kurum</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="kurum" type="text" list="kurumlist">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="okul">Önceki Okul</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="okul" type="text">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2 form-label">
            <label for="toplamgun">Toplam Gün</label>
          </div>
          <div class="col-10">
            <input class="form-control" name="toplamgun" type="number" min="1">
          </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Ekle">
      </form>
    </div>
  </div>
</div>
{{end}}
